:root {
    --gray: #A0A0A0;
}

@font-face {
    font-family: Nunito;
    src: url("../font-nunito/Nunito-Medium.ttf");
}

@font-face {
    font-family: JosefinSans;
    src: url("../font-nunito/JosefinSans-Medium.ttf");
}

body {
    font-family: Nunito;
    font-size: 17px;
    color: var(--gray);
    margin: 0 auto;
}

.container-cus {
    max-width: 1040px;
    margin: 0 auto;
}

#header .mid-header {
    margin-left: 65px;
}

#header .mid-header ul li a {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    /* identical to box height, or 141% */
    letter-spacing: 0.005em;
}

#banner .font-joe {
    font-family: JosefinSans;
    font-style: normal;
    font-weight: 600;
    font-size: 61px;
    line-height: 61px;
    letter-spacing: 0.01em;

    /* Secondary/1 */

    color: #6A231F;
}

#banner .font-wat {
    font-family: 'Waterfall';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.005em;

    color: #026B3F;
}

#banner .left-banner .row p a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */

    letter-spacing: 0.001em;

    color: #000000;
}

#banner .left-banner .row h3 {
    font-size: 26px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: 0.0015em;

    /* Secondary/1 */

    color: #6A231F;
}

#banner .banner-down .text-Josefin {
    font-family: JosefinSans;
    font-style: normal;
    font-weight: 500;
    /* identical to box height, or 150% */

    letter-spacing: 0.001em;

    /* Secondary/1 */

    color: #6A231F;
}

#banner .banner-down .media {
    background: #F59334;
}

#banner .banner-down .media .media-body h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.005em;

    /* Neutral/5 */

    color: #FFFFFF;
}

#banner .banner-down .media .media-body p {
    color: #FCDC66;
    font-weight: 400;
    font-size: 12px;
}

.name-ss {
    font-family: JosefinSans;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 31px;
    /* identical to box height */


    color: #000000;
}

/* #session-1 .ss1_content1, .ss_content3{
    margin
} */
#session-1 .ss1_content2 {
    background-color: #F59334;
    padding: 32px;
}

#session-1 .ss1_content2 img {
    max-width: 100%;
}

#session-1 .ss1_content1,
.ss1_content4 {
    background: #FFF0E0;
    padding: 50px 100px;
    color: #000000;
}

#session-1 .ss1_content1 h5 {
    font-family: JosefinSans;
    font-style: normal;
    font-weight: 500;
}

#session-1 .ss1_content1 p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    /* or 147% */
    padding-top: 15px;
    padding-bottom: 20px;
    letter-spacing: 0.005em;

    color: #000000;
}

#session-1 .ss1_content4 p {
    margin-top: 160px;
}

#session-2 .ss2-proNew ul li a.a-custom {
    font-family: JosefinSans;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */

    letter-spacing: 0.001em;

    /* Neutral/2 */

    color: #686868;
    text-decoration: none;
    display: block;
    padding-right: 50px;
}

.a-custom.active {
    color: #F59334 !important;
    background-color: none !important;
}

.ss2-proNew .row .col-md-3 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.ss2-proNew .card {
    border: none;
}

.ss2-proNew .card .card-body {
    padding: 0;
    padding-top: 16px;
}

.ss2-proNew .card .card-body h5 {
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
}

.ss2-proNew .card .card-body .proPrice {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FF6D6D !important;
}

.ss2-proNew .card .card-body .proPrice span {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.0025em;
    text-decoration-line: line-through;

    color: #686868;
}

.ss2-proNew .card .card-body .proUnit {
    font-size: 13px;
    line-height: 19px;
    color: #686868;
}

.ss2-proNew .text-center a {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    letter-spacing: 0.0125em;
    text-transform: uppercase;

    /* Semantic/Fail */

    color: #FF6D6D;
}
#session-3{
    
}
#session-3 .ss2-proNew .card img {
    max-width: 193px;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #026B3F;
}

footer #topFooter {
    position: relative;
    background-color: #F59334;
    margin-top: -50px;
}

footer #topFooter .row .col-md-4 h4 {
    font-family: JosefinSans;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */

    letter-spacing: 0.001em;

    color: #FFFFFF;
}

footer #topFooter .row .footer-border-x {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

footer #topFooter .row .col-md-4 ul {
    list-style: none;
    padding: 0;
}

footer #topFooter .row .col-md-4 ul li,
a {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */

    text-align: center;
    letter-spacing: 0.0025em;

    color: #FFFFFF;
}

footer #midFooter {
    max-width: 570px;
    margin: 0 auto;
}

footer #midFooter div h3 {
    font-family: JosefinSans;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */
    text-transform: uppercase;
    letter-spacing: 0.001em;

    color: #FFFFFF;
}

footer #midFooter div form input {
    border: none;
    border-radius: 0;
    /* max-width: 354px;
    width: 100%;
    height: 34px; */
}

footer #midFooter div label {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */

    letter-spacing: 0.0025em;

    color: #FFFFFF;
}

footer #midFooter div form button {
    padding: 6px 33px;
    gap: 10px;
    border-radius: 0;
    /* width: 157px;
    height: 34px; */
    color: white;
    /* Primary/Orange */

    background: #F59334 !important;
    /* Primary/Orange */

    border: 1px solid #F59334 !important;
}